{
  "functions": [
    {
      "method": "post",
      "path": "echo",
      "schema": {
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      }
    }
  ]
}
